/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC */
*:focus {
  outline: none;
}

body {
  background: rgb(99, 207, 250);
  font-family: "Montserrat", sans-serif;
  color: #FFF;
}

header {
  background: #5208d1;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
  color: black;
}

/* --------------LEFT SECTION: NEW ACTIVITY-------------- */
.new-activity-section {
  display: flex;
  flex: auto;
  flex-direction: column;
  padding: 30px;
  border-right: solid 4px #46424D;
}

.title {
  font-size: 2.0em;
  padding-bottom: 20px;
  justify-content: flex-start;
}

.body {
  border-radius: 10px;
  background: rgb(226, 94, 94);
  padding: 30px 100px;
  box-shadow: 5px 5px #26222D;
  height: 72vh;
}

.strong {
  font-weight: 500;
}
